{% comment %}
  @param context {String}
    The search form context

  @param show_overlay {Boolean}
    If true, show the search overlay
{% endcomment %}

{% liquid
  assign context = context | default: 'default'

  if context == 'blog'
    assign input_placeholder = 'general.search.blog_placeholder' | t: blog_title: blog.title
  else
    assign input_placeholder = 'general.search.placeholder' | t
  endif

  assign show_overlay = show_overlay | default: false
%}

<form
  class="
    search-form
    search-form--{{ context }}
    search-form--overlay-enabled-{{ show_overlay }}
  "
  action="{{ routes.search_url }}"
  data-search-form
  data-predictive-search-enabled-{{ settings.enable_predictive_search }}
>
  <div class="search-form__input-wrapper">
    <input
      class="search-form__input"
      type="text"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="{{ input_placeholder | escape }}"
      aria-label="{{ input_placeholder | escape }}"
      {% if settings.enable_predictive_search %}
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {% endif %}
      data-search-input
    >

    {% if context == 'blog' %}
      <input
        type="hidden"
        name="type"
        value="article"
      >
    {% endif %}

    <button
      class="search-form__submit-button"
      type="submit"
      data-search-submit
    >
      <span class="icon-search"></span>
    </button>

    {% if context == 'header' %}
      <button
        class="search-form__close-button"
        type="button"
        data-search-close
      >
        <svg
          width="14"
          height="14"
          viewBox="0 0 14 14"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 13L13 1M13 13L1 1"
            stroke="#404040"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
        </svg>
      </button>
    {% endif %}
  </div>

  {% if settings.enable_predictive_search %}
    <div
      class="search-form__results-container"
      data-search-results-container
      data-loading="false"
    >
      <div class="search-form__results-container-loading-state">
        <svg
          class="search-form__results-container-loading-state-spinner"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z"/>
          <path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"/>
        </svg>
      </div>
      <div class="search-form__results" data-search-results></div>
    </div>
  {% endif %}
</form>
