{% if predictive_search.performed %}
  {% liquid
    assign search_results = false

    if predictive_search.resources.products.size > 0 or predictive_search.resources.collections.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0
      assign search_results = true
    endif
  %}

  <div class="predictive-search">
    {% if predictive_search.resources.queries.size > 0 or predictive_search.resources.collections.size > 0 %}
      <div class="predictive-search__header">
        <h2 class="predictive-search__heading">
          {{- 'general.predictive_search.query_suggestions_heading' | t -}}
        </h2>

        <ul class="predictive-search__query-suggestions">
          {% for query in predictive_search.resources.queries %}
            <li class="predictive-search__query-suggestion">
              <a class="predictive-search__query-suggestion-link" href="{{ query.url }}">
                {{- query.styled_text -}}
              </a>
            </li>
          {% endfor %}

          {% for collection in predictive_search.resources.collections %}
            <li
              class="
                predictive-search__query-suggestion
                predictive-search__query-suggestion--collection
              "
            >
              <a class="predictive-search__query-suggestion-link" href="{{ collection.url }}">
                {{- collection.title | escape -}}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% elsif search_results == false %}
      <div class="predictive-search__header">
        <p class="predictive-search__no-results">
          {{- 'general.predictive_search.no_results_text' | t -}}
        </p>
      </div>
    {% endif %}

    {% if predictive_search.resources.products.size > 0 or predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}
      <div class="predictive-search__main">
        {% if predictive_search.resources.products.size > 0 %}
          <div class="predictive-search__main-column">
            <h2 class="predictive-search__heading">
              {{- 'general.predictive_search.product_suggestions_heading' | t -}}
            </h2>

            <ul class="predictive-search__product-suggestions">
              {% for product in predictive_search.resources.products %}
                <li class="predictive-search__product-suggestion">
                  <a class="predictive-search__product-suggestion-link" href="{{ product.url }}">
                    <figure class="predictive-search__product-suggestion-image">
                      {% if product.featured_media != blank %}
                        {%
                          render 'image-element',
                          image: product.featured_media.preview_image,
                          alt: product.featured_media.alt,
                        %}
                      {% else %}
                        {{- 'product-1' | placeholder_svg_tag: 'placeholder-svg' -}}
                      {% endif %}
                    </figure>

                    <div class="predictive-search__product-suggestion-details">
                      <span class="predictive-search__product-suggestion-title">
                        {{- product.title -}}
                      </span>

                      <div class="predictive-search__product-suggestion-price">
                        <span
                          class="
                            price
                            {% if product.compare_at_price_min > product.price_min %}
                              sale
                            {% endif %}
                          "
                        >
                          {% if product.available %}
                            {% if product.price_varies and product.price_min > 0 %}
                              <small>
                                <em>
                                  {{- 'products.general.from' | t -}}
                                </em>
                              </small>
                            {% endif %}

                            {% if product.price_min > 0 %}
                              <span class="money">
                                {%
                                  render 'price-element',
                                  price: product.price_min,
                                %}
                              </span>
                            {% else %}
                              {{ settings.free_price_text }}
                            {% endif %}

                            {% if product.compare_at_price_min > product.price_min %}
                              <span class="was-price">
                                <span class="money">
                                  {%
                                    render 'price-element',
                                    price: product.compare_at_price_min,
                                  %}
                                </span>
                              </span>
                            {% endif %}
                          {% else %}
                            <span class="sold_out">
                              {{- 'products.product.sold_out' | t -}}
                            </span>
                          {% endif %}
                        </span>

                        {% assign variant_for_unit_price = product.variants | sort: 'price' | first %}

                        {%
                          render 'unit-price',
                          item: variant_for_unit_price,
                          class: 'product-details__unit-price',
                        %}
                      </div>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if predictive_search.resources.articles.size > 0 or predictive_search.resources.pages.size > 0 %}
          <div class="predictive-search__main-column">
            <h2 class="predictive-search__heading">
              {% if predictive_search.resources.articles.size > 0 and predictive_search.resources.pages.size > 0 %}
                {{- 'general.predictive_search.pages_and_posts_suggestions_heading' | t -}}
              {% elsif predictive_search.resources.articles.size > 0 %}
                {{- 'general.predictive_search.posts_suggestions_heading' | t -}}
              {% elsif predictive_search.resources.pages.size > 0 %}
                {{- 'general.predictive_search.pages_suggestions_heading' | t -}}
              {% endif %}
            </h2>

            <ul class="predictive-search__article-and-page-suggestions">
              {% for article in predictive_search.resources.articles %}
                <li class="predictive-search__article-suggestion">
                  <a class="predictive-search__article-suggestion-link" href="{{ article.url }}">
                    {{- article.title | escape -}}
                  </a>
                </li>
              {% endfor %}

              {% for page in predictive_search.resources.pages %}
                <li class="predictive-search__page-suggestion">
                  <a class="predictive-search__page-suggestion-link" href="{{ page.url }}">
                    {{- page.title | escape -}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="predictive-search__footer">
      <button
        class="
          predictive-search__footer-button
          action_button
        "
        type="submit"
        data-predictive-search-button
      >
        {{- 'general.predictive_search.search_button_label' | t: search_terms: predictive_search.terms -}}
      </button>
    </div>
  </div>
{% endif %}
